#navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    border: 1px solid red;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgb(4 4 4 / 57%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    color: white;
}

#brand-name{
    font-size: 30px;
    font-family: cursive;
}

#inner-nav{
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    gap: 20px;
    height: 100%;
    align-items: center;
}

.search-div{
    display: flex;
    flex-direction: row;
    background-color: #393434;
    border-radius: 5px;
    color: white;
}

#search-bar{
    background-color: transparent;
    border: 0px;
    outline: 0px;
    padding: 4px 10px;
    color: white;
}

.nav-pages{
    color: inherit;
    text-decoration: none;
    height: 100%;
    padding: 0px 5px;
    display: flex;
    align-items: center;
}

.menu-deactive {
    display: none;
}

#nav-menu{
    display: none;
}

.menu-active {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 90vh;
    top: 10vh;
    left: 0;
    width: 50%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px); /* for Safari */
}

.slide-menu-nav-pages {
    font-size: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 35px;
}

@media (max-width: 700px) {
    #nav-menu{
        display: flex;
    }

    #inner-nav{
        display: none;
    }

    #brand-name{
        font-size: 25px;
    }
    
    .search-div{
        width: 40%;
    }

    #search-bar{
        width: calc(100% - 30px);
    }
}