.slider-div{
    height: 65%;
}

.slider-swiper{
    height: 90%;
}

.swiper-slide-outer-div{
    height: 100%;
    padding: 0px 5px;
}

.slide-image-div{
    height: 90%;
}

.slide-image{
    position: unset;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}